.custom-password-input {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.custom-password-input input {
    width: 100%;
    padding: 10px 20px;
    height: 46px;
    border: 0.0625rem solid #ced4da;
}
.custom-password-input input::placeholder
{
    color: #cac4c2;
}
.custom-password-input input:focus
{
    border: 0.0625rem solid #52a4eb;
    outline: #52a4eb;
}

.custom-password-input img {
    width: 16px;
    position: absolute;
    right: 8px;
    cursor: pointer;
}