.homeslider {
    width: 100%;
    height: 83vh;
    font-family: 'Open Sans';
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    /* Set the background color with opacity */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.homeslider .swiper-button-prev {
    left: 75px;
    width: 2vw;
    height: 6vh;
    padding: 1.3rem;
    background-color: var(--Extra-Light-Gray);
}

.homeslider .swiper-button-prev::after {
    font-size: 12px;
    color: var(--Logo-Color1);
}

.homeslider .swiper-button-next {
    right: 75px;
    width: 2vw;
    height: 6vh;
    padding: 1.3rem;
    background-color: var(--Extra-Light-Gray);
}

.homeslider .swiper-button-next::after {
    font-size: 12px;
    color: var(--Logo-Color1);
}

/* Hide navigation buttons by default */
.homeslider .swiper-button-prev,
.homeslider .swiper-button-next {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.homeslider .swiper-button-prev:hover,
.homeslider .swiper-button-next:hover {
    background-color: rgb(222, 222, 222);
}

/* Show navigation buttons on hover */
.homeslider:hover .swiper-button-prev,
.homeslider:hover .swiper-button-next {
    opacity: 0;
}

.homeslider-slide {
    position: relative;
    /* background-color: red; */
}

/* Apply the animation to the button */
.homeslider-slide .drop-button {
    animation: dropButton 1s ease-in-out forwards;
}

.homeslider-slide-content {
    position: absolute;
    width: fit-content;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.homeslider-slide-content p {
    font-size: 100px;
    color: #fff;
}

.homeslider-slide-content .drop-button {
    border: 0;
    background-color: var(--Logo-Color1);
    width: 100px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    cursor: pointer;
}


@keyframes dropButton {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Typing animation for the heading text */
.typing-text {
    overflow: hidden;
    /* Hide overflowing text */
    white-space: nowrap;
    /* Prevent line breaks */
    animation: typing 6s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
        /* Start with no width (hidden) */
    }

    to {
        width: 100%;
        /* Fully reveal the text */
    }
}


/* Dhiyanesh CSS */

.homeslider-carousel-image {
    width: 100%;
    height: 76vh;
}

/* .homeslider-carousel-content {
    display: grid;
    gap: 1rem;
    left: 12rem;
    top: 50%;
    left: 30%;
    width: 500px;
    text-align: left;
    transform: translate(-50%, -50%);
} */

.homeslider-carousel-slides {
    background-image: url('../../../assets/Banner/MogoBGS.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0;

}

.slider-side-image {
    width: 320px;
    position: relative;
}

.homeslider-carousel-slides-div {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10rem;
    margin-top: 3.5rem;
}

.header-slider-banner-content {
    height: fit-content;
    display: grid;
    gap: 1rem;
    max-width: 500px;
    text-align: start;
}



/* Dhiyanesh CSS ENd */

.sub-div-carosel {
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 60px;
    z-index: 1;
}

.sub-div-carosel-main {
    width: 92%;
    margin: auto;
    height: 180px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    justify-content: space-between;
}

.sub-div-carosel-main-grid {
    background-color: #fff;
    padding: 14px;
    border-radius: 8px;
}

.sub-div-carosel-main-grid-heading p {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.sub-div-carosel-main-grid-content {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 64%;
    align-items: center;
    padding: 14px 0;
    justify-content: space-between;
}

.sub-div-carosel-main-grid-content-left {
    width: 97px;
}

.sub-div-carosel-main-grid-content-left img {
    width: 72px;
    height: 70px;
}

.sub-div-carosel-main-grid-content-right {
    height: 100%;
}

.sub-div-carosel-main-grid-content-right p {
    font-size: 13px;
}

.sub-div-carosel-main-grid-content .know-more-link {
    font-size: 13px;
    color: var(--Logo-Color2);
}

.carocal-div .carocal-div-image {
    width: 450px;
}