.homeslider {
    width: 100%;
    height: 500px;
    font-family: 'Open Sans';
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    /* Set the background color with opacity */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.homeslider .swiper-button-prev {
    left: 75px;
    background-color: var(--Extra-Light-Gray);
}

.homeslider .swiper-button-prev::after {
    font-size: 12px;
    color: var(--Logo-Color1);
}

.homeslider .swiper-button-next {
    right: 75px;
    background-color: var(--Extra-Light-Gray);
}

.homeslider .swiper-button-next::after {
    font-size: 12px;
    color: var(--Logo-Color1);
}

/* Hide navigation buttons by default */
.homeslider .swiper-button-prev,
.homeslider .swiper-button-next {
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show navigation buttons on hover */
.homeslider:hover .swiper-button-prev,
.homeslider:hover .swiper-button-next {
    opacity: 1;
}

.homeslider-slide {
    position: relative;
}

/* Apply the animation to the button */
.homeslider-slide .drop-button {
    animation: dropButton 1s ease-in-out forwards;
}

.homeslider-slide-content {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30px;
    /* top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.homeslider-slide-content p {
    font-size: 100px;
    color: #fff;
}

.homeslider-slide-content .drop-button {
    border: 0;
    background-color: var(--Logo-Color1);
    width: 100px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    transform: translateY(-100px);
    /* Start with the button off-screen */
    opacity: 0;
    /* Start with opacity 0 to make it fade in */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


@keyframes dropButton {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Typing animation for the heading text */
.typing-text {
    overflow: hidden;
    /* Hide overflowing text */
    white-space: nowrap;
    /* Prevent line breaks */
    animation: typing 6s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
        /* Start with no width (hidden) */
    }

    to {
        width: 100%;
        /* Fully reveal the text */
    }
}