.payout-requests-div {
    font-family: 'Source Sans Pro', sans-serif;
}

.payout-requests-div .mantine-othpma {
    padding: 0px;
}

.payout-requests-div-card-heading {
    padding: 20px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payout-requests-div-card-heading h3 {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.payout-requests-div-card-heading button {
    width: 114px;
    height: 34px;
    cursor: pointer;
    border: 0px;
    background-color: var(--Logo-Color1);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}

.payout-requests-div-card-body {
    padding: 20px;
}

.payoutrequests-filter-container {
    display: grid;
    grid-template-columns: 7% 10% 25%;
    gap: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}