.orders-div {
    font-family: 'Source Sans Pro', sans-serif;
}

.orders-filter-container {
    display: grid;
    grid-template-columns: 7% 10% 10% auto;
    gap: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.orders-filter-container-div4 {
    width: 100%;
}

.orders-filter-container-div4 .mantine-ydg8wd {
    margin: 0px;
    max-width: 250px;
}

.orders-filter-container-div4 .mantine-1fzet7j,
.orders-filter-container-div3 .mantine-1fzet7j,
.orders-filter-container-div2 .mantine-1fzet7j,
.orders-filter-container-div1 .mantine-1fzet7j {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
    font-weight: 600 !important;
}