.navbar-div {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    justify-content: center;
}

.navbar-data ul {
    display: flex;
    gap: 2rem;
}

.navbar-data ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 14px;
    gap: 0.3rem;
}

.navbar-div-container {
    padding: 0;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    position: relative;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.navbar-div-container-ul {
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    font-size: 14px;
}

.navbar-div-container-ul2 {
    width: fit-content;
    color: black;
    display: flex;
    align-items: center;
    gap: 2.15rem;
    list-style-type: none;
    margin-left: 1.6rem;
    font-family: 'Open Sans';
}

.navbar-div-container-ul li {
    cursor: pointer;
}

.navbar-div-container-ul2 li {
    cursor: pointer;
}


.navbar-div-container-ul-dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    top: 40px;
    z-index: 19;
    padding: 2rem;
    padding-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    left: -1100rem;
    transition: all 500ms ease-in-out;
}

.product-dropdown-hover:hover .navbar-div-container-ul-dropdown {
    left: 0px;
}

.navbar-div-container-ul-dropdown-content {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.navbar-div-container-ul-dropdown-content-table-head,
.navbar-div-container-ul-dropdown-content-kitchen-head,
.navbar-div-container-ul-dropdown-content-bath-head,
.navbar-div-container-ul-dropdown-content-bed-head,
.navbar-div-container-ul-dropdown-content-living-head,
.navbar-div-container-ul-dropdown-content-baby-head {
    cursor: pointer;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 14px;
}

.navbar-div-container-ul-dropdown-content-table-categories,
.navbar-div-container-ul-dropdown-content-kitchen-categories,
.navbar-div-container-ul-dropdown-content-bath-categories,
.navbar-div-container-ul-dropdown-content-bed-categories,
.navbar-div-container-ul-dropdown-content-living-categories,
.navbar-div-container-ul-dropdown-content-baby-categories {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0.5rem;
    gap: 0.5rem;
    font-family: 'Open Sans';
    font-size: 13px;
}

.navbar-div-container-ul-dropdown-content-table-categories li,
.navbar-div-container-ul-dropdown-content-kitchen-categories li,
.navbar-div-container-ul-dropdown-content-bath-categories li,
.navbar-div-container-ul-dropdown-content-bed-categories li,
.navbar-div-container-ul-dropdown-content-living-categories li,
.navbar-div-container-ul-dropdown-content-baby-categories li {
    cursor: pointer;
}

.navbar-div-container-ul-dropdown-content-baby-category-div {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

/* Drawer Css */


.home-category-drawer .mantine-1q36a81 {
    padding: 0;
}

.home-category-drawer-header {
    background-color: var(--Logo-Color1);
    padding: 0.3rem 0.8rem;
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
}


.home-category-drawer-header p {
    font-size: 20px;
    color: white;
}

.drawer-title {
    font-weight: 400;
    cursor: pointer;
}

.home-category-drawer .mantine-ecft5f {
    /* padding: ; */
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
}

.home-category-drawer .mantine-gm39d {
    padding: 0.2rem 0.5rem;
}

.home-category-drawer .mantine-2w2bpy {
    padding: 0.2rem 1.5rem;
}

.mantine-1ta4rj2 {
    padding: 0.4rem 1.5rem;
}

/* Drawer Css  End*/

/* Dhiyanesh CSS */

.navbar-div-container-ul2 li:last-child {
    padding: 0.3rem;
    border-radius: 3px;
    color: var(--Logo-Color6);
    font-weight: 700;
    transition: all 500ms ease-in-out;
}

.navbar-div-container-ul2 li:last-child:hover {
    color: var(--Logo-Color1);
}

.navbar-data ul li {
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.navbar-data ul li:first-child:hover {
    transform: scale(1);
    color: black;
    transition: all 500ms ease-in-out;
}

.navbar-data ul li:hover {
    transform: scale(1.2);
    color: var(--Logo-Color6);
}

.navbar-div-container-ul2 li {
    transition: all 500ms ease-in-out;
}

.navbar-div-container-ul2 li:hover {
    transform: scale(1.2);
    color: var(--Logo-Color6);
}

/* Dhiyanesh CSS End */
@media(max-width:1101px) {
    .navbar-data ul {
        gap: 1rem;
    }
    .navbar-data ul li {
        font-size: 12px;
    }

    .navbar-div-container-ul2 {
        gap: 1.5rem;
        margin-left: 0.3rem;
    }
    .navbar-div-container-ul2 li {
        font-size: 12px;
    }
    .navbar-div-container-ul2 li:last-child
    {
        font-size: 12px;        
    }
}
@media(max-width:850px) {
    .navbar-data ul {
        gap: 0.5rem;
        font-size: 10px;
    }
    .navbar-data ul li {
        font-size: 10px;
    }

    .navbar-div-container-ul2 {
        gap: 1rem;
        margin-left: 0.1rem;
        font-size: 10px;
    }
    .navbar-div-container-ul2 li {
        font-size: 10px;
    }
    .navbar-div-container-ul2 li:last-child
    {
        font-size: 10px;        
    }
}