.transactions-div {
    font-family: 'Source Sans';
}

.transactions-filter-container {
    display: grid;
    grid-template-columns: 7% 20% 10% auto;
    gap: 1rem;
    font-family: 'Source Sans';
}

.transactions-filter-container-div4 .mantine-1fzet7j,
.transactions-filter-container-div1 .mantine-1fzet7j {
    font-family: 'Source Sans';
    margin-bottom: 5px;
    font-weight: 600 !important;
}