.numeric-input-form {
    display: flex;
    flex-direction: column;
}
.numeric-input-form label{
    font-size: 14px;
    margin-bottom: 0.4rem;
}

.numeric-input-form .numeric-input {
    width: 100%;
    border: 1px solid var(--Extra-Light-Gray);
    height: 2rem;
}