.add-product-div {
    font-family: 'Source Sans Pro', sans-serif;
}

.add-product-div-container {
    display: grid;
    grid-template-columns: 74% 25%;
    justify-content: space-between;
}

.add-product-div-container-left {
    width: 100%;
}

.add-product-div-container-right {
    width: 100%;
}

.add-product-div-container-left-product-name {
    margin-bottom: 1.5rem;
}

.add-product-div-container-left-product-name .mantine-1fzet7j {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-product-div-container-left-product-name .mantine-gszoqu {
    font-family: 'Source Sans Pro', sans-serif;
    height: 36px;
}

.add-product-div-container-left-product-description-card {
    height: 350px;
}

.add-product-div-container-left-product-description-card label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.quill-style {
    margin-top: 5px;
    height: 250px;
}

.add-product-div-container-left-product-data {
    margin-top: 1rem;
}

.add-product-div-container-left-product-data-card-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-product-div-container-left-product-data-card-heading label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.add-product-div-container-left-product-data-card-tab {
    margin-top: 1.5rem;
}

.add-product-div-container-left-product-data-card-tab-panel {
    padding: 1rem;
    border-top: 1px solid var(--Light-Light-Gray);
    border-right: 1px solid var(--Light-Light-Gray);
    border-bottom: 1px solid var(--Light-Light-Gray);
}

.add-product-div-container-left-product-data-card-tab-panel-grid {
    display: grid;
    grid-template-columns: 20% 40%;
    align-items: center;
    margin-bottom: 1rem;
}

.grid-last {
    margin-bottom: 2px;
}

.add-product-div-container-left-product-data-card-tab-panel-grid label {
    font-size: 13px;
}

.add-product-div-container-left-product-data-card-tab-panel-grid-schedule {
    font-size: 12px;
    cursor: pointer;
    color: var(--Logo-Color1);
    text-decoration: underline;
}

.add-product-div-container-left-product-data-card-tab-panel-grid-sale {
    margin: 1rem 0rem;
}