@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Logo-Color1: rgb(51, 50, 94);
  --Logo-Color2: rgb(222, 154, 120);
  --Logo-Color3: rgb(83, 82, 120);
  --Logo-Color4: rgb(83, 82, 120);
  --Logo-Color5: rgb(42, 96, 105);
  --Extra-Light-Gray: rgb(222, 222, 222);
  --Para-Color: rgb(168, 147, 135);
  --Discount-Color: rgb(246, 70, 93);
}

/* Define styles for the scrollbar track (the empty space) */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  background-color: #f1f1f1;
  /* Background color of the scrollbar track */
}

/* Define styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for the thumb */
}

/* Define styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar thumb on hover */
}