@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Logo-Color1: rgb(51, 50, 94);
  --Logo-Color2: rgb(222, 154, 120);
  --Logo-Color3: rgb(83, 82, 120);
  --Logo-Color4: rgb(83, 82, 120);
  --Logo-Color5: rgb(42, 96, 105);
  --Extra-Light-Gray: rgb(222, 222, 222);
  --Para-Color: rgb(168, 147, 135);
}

::-webkit-scrollbar {
  display: none;
}