.terms-and-conditions-div {
    width: 100%;
    padding: 30px 0px;
    font-family: 'Open Sans';
}

.terms-and-conditions-div-container {
    padding: 0;
}

.terms-and-conditions-div-container-heading h1 {
    font-size: 26px;
    margin: 30px 0px;
}

.terms-and-conditions-div-container-heading p {
    font-size: 15px;
    margin-bottom: 16px;
}

.terms-and-conditions-div-container-details h1 {
    font-size: 15px;
}

.terms-and-conditions-div-container-details p {
    font-size: 15px;
    margin-bottom: 16px;
}